<!-- <div class="example-container" [class.example-is-mobile]="mobileQuery.matches"> -->
<mat-toolbar color="primary" class="toolbar">
  <div class="toolbar__main">
    <button
      mat-icon-button
      class="toolbar__menu-button"
      aria-label="Example icon-button with menu icon"
      (click)="sideNav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar__title">Apartment Management</span>
  </div>
  <div class="toolbar__actions">
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-drawer-container class="sidenav" autosize>
  <mat-drawer #sideNav class="sidenav__drawer" mode="side">
    <mat-list>
      <mat-list-item> All Apartments </mat-list-item>
      <mat-list-item *appUserHasRoles="['realtor']" > My Apartments </mat-list-item>
      <mat-list-item *appUserHasRoles="['admin']"> Users </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="sidenav__content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
