<mat-card>
  <mat-card-title>{{ data.action || 'Add' }} Apartment</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" *ngIf="form">
      <p class="header">
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Name"
            formControlName="name"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select
            formControlName="status"
            placeholder="Status"
          >
            <ng-container *ngFor="let status of statusList">
              <mat-option [value]="status">{{ status }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Address"
            formControlName="address"
          />
        </mat-form-field>
      </p>

      <p class="coords">
        <mat-form-field>
          <input
            type="number"
            matInput
            placeholder="Longitude"
            formControlName="longitude"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            type="number"
            matInput
            placeholder="Latitude"
            formControlName="latitude"
          />
        </mat-form-field>
      </p>

      <p class="info">
        <mat-form-field>
          <input
            type="number"
            matInput
            placeholder="Size"
            formControlName="floorAreaSize"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            type="number"
            matInput
            placeholder="Number of Rooms"
            formControlName="numberOfRooms"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            type="number"
            matInput
            placeholder="Price"
            formControlName="pricePerMonth"
          />
        </mat-form-field>
      </p>

      <p *appUserHasRoles="['admin']">
        <mat-form-field>
          <mat-label>Realtor</mat-label>
          <mat-select
            formControlName="realtor"
            placeholder="Realtor"
          >
            <ng-container *ngFor="let realtor of realtors$ | async as realtors">
              <mat-option [value]="realtor._id">{{ realtor.firstname }} {{ realtor.lastname }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Description"
            formControlName="description"
          />
        </mat-form-field>
      </p>

      <p style="height: 300px;">
        <agm-map style="height: 100%;"
          [latitude]="latitude"
          [longitude]="longitude"
          [disableDefaultUI]="false"
          (mapClick)="onMapClick($event)"
        >
        </agm-map>
      </p>

      <div class="actions">
        <button mat-flat-button color="primary" (click)="submit()">
          {{ "Update" | uppercase }}
        </button>
        <button mat-stroked-button color="primary" mat-dialog-close>
          {{ "Cancel" | uppercase }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
