section {
  width: 480px;
}

button {
  display: block;
  width: 432px;
  margin-left: 0 !important;
  margin-bottom: 12px;
}

input {
  margin-top: 12px;
  margin-bottom: 24px;
}

p {
    margin-bottom: 24px;
}

.dialog-wrapper {
  margin: 24px;
}

.input-wrapper {
  width: 432px;
}
